/* Global Styles */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    position: relative; /* 為了使波紋效果能夠相對定位 */
    overflow: hidden; /* 確保波紋不會超出按鈕範圍 */
}

/* Hero Section */
.hero {
    background-image: url('assets/images/hero-background.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
    position: relative; /* 為了讓波紋效果出現在標題上 */
    overflow: hidden; /* 確保波紋不會超出範圍 */
}

/* Content Sections */
.content-section {
    padding: 60px 20px;
    text-align: center;
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.project-card img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}

/* Ripple Effect */

.ripple-text::before,
.ripple-button::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 123, 255, 0.3); /* 波紋顏色 */
    transform: scale(0);
    animation: ripple 1.5s linear infinite;
}

.hero-content h1::before {
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.btn-primary::after {
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(4);
        opacity: 0;
    }
}
